.welcome {
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 1.5rem;
        font-weight: $fw-n;
        color: $dark-blue;
        line-height: 1.5;
        text-align: center;
        span {
            display: block;
            @include sans-serif(5.5rem, $accent);
        }
        &::before,
        &::after {
            content: '';
            display: block;
            width: 60%;
            height: 1px;
            background-color: $dark-blue;
            
        }
        &::before {
            margin: 0 auto 2em;
        }
        &::after {
            margin: 2em auto 0;
        }
    }
}